<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quanroon.atten.reports.dao.UpParamsMapper" >
  <resultMap id="BaseResultMap" type="com.quanroon.atten.reports.entity.UpParams" >
    
    <!-- 主码 -->
    <id column="id" property="id" jdbcType="INTEGER" />
    
    <!-- 项目id -->
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    
    <!-- 账号 -->
    <result column="account" property="account" jdbcType="VARCHAR" />
    
    <!-- 密码 -->
    <result column="password" property="password" jdbcType="VARCHAR" />
    
    <!-- 项目编号 -->
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    
    <!-- 授权账号 -->
    <result column="key" property="key" jdbcType="VARCHAR" />
    
    <!-- 授权密钥 -->
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    
    <!-- 采集key -->
    <result column="collect_key" property="collectKey" jdbcType="VARCHAR" />
    
    <!-- 采集密钥 -->
    <result column="collect_secret" property="collectSecret" jdbcType="VARCHAR" />
    
    <!-- 厂家识别码 -->
    <result column="app_token" property="appToken" jdbcType="VARCHAR" />
    
    <!-- 上报省 -->
    <result column="up_province" property="upProvince" jdbcType="VARCHAR" />
    
    <!-- 上报市 -->
    <result column="up_city" property="upCity" jdbcType="VARCHAR" />
    
    <!-- 上报县 -->
    <result column="up_area" property="upArea" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    id, proj_id, account, password, project_code, `key`, secret, collect_key, collect_secret,
    app_token, up_province, up_city, up_area
  </sql>
  <sql id="Base_Join_List" >
    a.id, a.proj_id, a.account, a.password, a.project_code, a.`key`, a.secret, a.collect_key, a.collect_secret,
    a.app_token, a.up_province, a.up_city, a.up_area
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.quanroon.atten.reports.entity.example.UpParamsExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from up_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from up_params
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    delete from up_params
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.quanroon.atten.reports.entity.example.UpParamsExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    delete from up_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    insert into up_params (proj_id, account, password, 
      project_code, `key`, secret,
      collect_key, collect_secret, app_token, 
      up_province, up_city, up_area
      )
    values (#{projId,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{projectCode,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, 
      #{collectKey,jdbcType=VARCHAR}, #{collectSecret,jdbcType=VARCHAR}, #{appToken,jdbcType=VARCHAR}, 
      #{upProvince,jdbcType=VARCHAR}, #{upCity,jdbcType=VARCHAR}, #{upArea,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    insert into up_params
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        proj_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="key != null" >
        `key`,
      </if>
      <if test="secret != null" >
        secret,
      </if>
      <if test="collectKey != null" >
        collect_key,
      </if>
      <if test="collectSecret != null" >
        collect_secret,
      </if>
      <if test="appToken != null" >
        app_token,
      </if>
      <if test="upProvince != null" >
        up_province,
      </if>
      <if test="upCity != null" >
        up_city,
      </if>
      <if test="upArea != null" >
        up_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="collectKey != null" >
        #{collectKey,jdbcType=VARCHAR},
      </if>
      <if test="collectSecret != null" >
        #{collectSecret,jdbcType=VARCHAR},
      </if>
      <if test="appToken != null" >
        #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="upProvince != null" >
        #{upProvince,jdbcType=VARCHAR},
      </if>
      <if test="upCity != null" >
        #{upCity,jdbcType=VARCHAR},
      </if>
      <if test="upArea != null" >
        #{upArea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.quanroon.atten.reports.entity.example.UpParamsExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    select count(*) from up_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    update up_params
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projId != null" >
        proj_id = #{record.projId,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.projectCode != null" >
        project_code = #{record.projectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.key != null" >
        `key` = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.secret != null" >
        secret = #{record.secret,jdbcType=VARCHAR},
      </if>
      <if test="record.collectKey != null" >
        collect_key = #{record.collectKey,jdbcType=VARCHAR},
      </if>
      <if test="record.collectSecret != null" >
        collect_secret = #{record.collectSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.appToken != null" >
        app_token = #{record.appToken,jdbcType=VARCHAR},
      </if>
      <if test="record.upProvince != null" >
        up_province = #{record.upProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.upCity != null" >
        up_city = #{record.upCity,jdbcType=VARCHAR},
      </if>
      <if test="record.upArea != null" >
        up_area = #{record.upArea,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    update up_params
    set id = #{record.id,jdbcType=INTEGER},
      proj_id = #{record.projId,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      project_code = #{record.projectCode,jdbcType=VARCHAR},
      `key` = #{record.key,jdbcType=VARCHAR},
      secret = #{record.secret,jdbcType=VARCHAR},
      collect_key = #{record.collectKey,jdbcType=VARCHAR},
      collect_secret = #{record.collectSecret,jdbcType=VARCHAR},
      app_token = #{record.appToken,jdbcType=VARCHAR},
      up_province = #{record.upProvince,jdbcType=VARCHAR},
      up_city = #{record.upCity,jdbcType=VARCHAR},
      up_area = #{record.upArea,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    update up_params
    <set >
      <if test="projId != null" >
        proj_id = #{projId,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="collectKey != null" >
        collect_key = #{collectKey,jdbcType=VARCHAR},
      </if>
      <if test="collectSecret != null" >
        collect_secret = #{collectSecret,jdbcType=VARCHAR},
      </if>
      <if test="appToken != null" >
        app_token = #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="upProvince != null" >
        up_province = #{upProvince,jdbcType=VARCHAR},
      </if>
      <if test="upCity != null" >
        up_city = #{upCity,jdbcType=VARCHAR},
      </if>
      <if test="upArea != null" >
        up_area = #{upArea,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    update up_params
    set proj_id = #{projId,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      project_code = #{projectCode,jdbcType=VARCHAR},
      `key` = #{key,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      collect_key = #{collectKey,jdbcType=VARCHAR},
      collect_secret = #{collectSecret,jdbcType=VARCHAR},
      app_token = #{appToken,jdbcType=VARCHAR},
      up_province = #{upProvince,jdbcType=VARCHAR},
      up_city = #{upCity,jdbcType=VARCHAR},
      up_area = #{upArea,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.quanroon.atten.reports.entity.example.UpParamsExample" id="selectByExampleWithRowbounds" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:04:12 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from up_params
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-06-29 15:04:12 ### -->



  <!-- Your codes goes here!!! -->
  <select id="selectByProjId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from up_params
    where proj_id = #{projId,jdbcType=INTEGER}
  </select>


  <select id="selectUpParamsAndProjInfoByProjId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
      <include refid="Base_Join_List" />
    from up_params a
    left join up_project_info b on b.id = a.proj_id
    where b.id = #{projId}
  </select>


</mapper>