<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quanroon.atten.reports.dao.UpWorkerExpMapper" >
  <resultMap id="BaseResultMap" type="com.quanroon.atten.reports.entity.UpWorkerExp" >
    
    <!-- 劳工id -->
    <result column="worker_id" property="workerId" jdbcType="INTEGER" />
    
    <!-- 证书种类 -->
    <result column="certificate_kind" property="certificateKind" jdbcType="CHAR" />
    
    <!-- 证书类型 -->
    <result column="certificate_type" property="certificateType" jdbcType="CHAR" />
    
    <!-- 证书等级 -->
    <result column="certificate_grade" property="certificateGrade" jdbcType="CHAR" />
    
    <!-- 证书编号 -->
    <result column="certificate_number" property="certificateNumber" jdbcType="VARCHAR" />
    
    <!-- 证书名称 -->
    <result column="certificate_name" property="certificateName" jdbcType="VARCHAR" />
    
    <!-- 证书有效时间 -->
    <result column="certificate_start_date" property="certificateStartDate" jdbcType="TIMESTAMP" />
    
    <!-- 证书到期时间 -->
    <result column="certificate_end_date" property="certificateEndDate" jdbcType="TIMESTAMP" />
    
    <!-- 发证机关 -->
    <result column="certificate_issuing" property="certificateIssuing" jdbcType="CHAR" />
    
    <!-- 资质证书状态 -->
    <result column="certificate_status" property="certificateStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    worker_id, certificate_kind, certificate_type, certificate_grade, certificate_number, 
    certificate_name, certificate_start_date, certificate_end_date, certificate_issuing, 
    certificate_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerExpExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from up_worker_exp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerExpExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    delete from up_worker_exp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    insert into up_worker_exp (worker_id, certificate_kind, certificate_type, 
      certificate_grade, certificate_number, certificate_name, 
      certificate_start_date, certificate_end_date, 
      certificate_issuing, certificate_status)
    values (#{workerId,jdbcType=INTEGER}, #{certificateKind,jdbcType=CHAR}, #{certificateType,jdbcType=CHAR},
      #{certificateGrade,jdbcType=CHAR}, #{certificateNumber,jdbcType=VARCHAR}, #{certificateName,jdbcType=VARCHAR},
      #{certificateStartDate,jdbcType=TIMESTAMP}, #{certificateEndDate,jdbcType=TIMESTAMP},
      #{certificateIssuing,jdbcType=CHAR}, #{certificateStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    insert into up_worker_exp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="certificateKind != null" >
        certificate_kind,
      </if>
      <if test="certificateType != null" >
        certificate_type,
      </if>
      <if test="certificateGrade != null" >
        certificate_grade,
      </if>
      <if test="certificateNumber != null" >
        certificate_number,
      </if>
      <if test="certificateName != null" >
        certificate_name,
      </if>
      <if test="certificateStartDate != null" >
        certificate_start_date,
      </if>
      <if test="certificateEndDate != null" >
        certificate_end_date,
      </if>
      <if test="certificateIssuing != null" >
        certificate_issuing,
      </if>
      <if test="certificateStatus != null" >
        certificate_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="certificateKind != null" >
        #{certificateKind,jdbcType=CHAR},
      </if>
      <if test="certificateType != null" >
        #{certificateType,jdbcType=CHAR},
      </if>
      <if test="certificateGrade != null" >
        #{certificateGrade,jdbcType=CHAR},
      </if>
      <if test="certificateNumber != null" >
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="certificateName != null" >
        #{certificateName,jdbcType=VARCHAR},
      </if>
      <if test="certificateStartDate != null" >
        #{certificateStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="certificateEndDate != null" >
        #{certificateEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="certificateIssuing != null" >
        #{certificateIssuing,jdbcType=CHAR},
      </if>
      <if test="certificateStatus != null" >
        #{certificateStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerExpExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    select count(*) from up_worker_exp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    update up_worker_exp
    <set >
      <if test="record.workerId != null" >
        worker_id = #{record.workerId,jdbcType=INTEGER},
      </if>
      <if test="record.certificateKind != null" >
        certificate_kind = #{record.certificateKind,jdbcType=CHAR},
      </if>
      <if test="record.certificateType != null" >
        certificate_type = #{record.certificateType,jdbcType=CHAR},
      </if>
      <if test="record.certificateGrade != null" >
        certificate_grade = #{record.certificateGrade,jdbcType=CHAR},
      </if>
      <if test="record.certificateNumber != null" >
        certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateName != null" >
        certificate_name = #{record.certificateName,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateStartDate != null" >
        certificate_start_date = #{record.certificateStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.certificateEndDate != null" >
        certificate_end_date = #{record.certificateEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.certificateIssuing != null" >
        certificate_issuing = #{record.certificateIssuing,jdbcType=CHAR},
      </if>
      <if test="record.certificateStatus != null" >
        certificate_status = #{record.certificateStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    update up_worker_exp
    set worker_id = #{record.workerId,jdbcType=INTEGER},
      certificate_kind = #{record.certificateKind,jdbcType=CHAR},
      certificate_type = #{record.certificateType,jdbcType=CHAR},
      certificate_grade = #{record.certificateGrade,jdbcType=CHAR},
      certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      certificate_name = #{record.certificateName,jdbcType=VARCHAR},
      certificate_start_date = #{record.certificateStartDate,jdbcType=TIMESTAMP},
      certificate_end_date = #{record.certificateEndDate,jdbcType=TIMESTAMP},
      certificate_issuing = #{record.certificateIssuing,jdbcType=CHAR},
      certificate_status = #{record.certificateStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerExpExample" id="selectByExampleWithRowbounds" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:18:45 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from up_worker_exp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-06-29 15:18:45 ### -->



  <!-- Your codes goes here!!! -->
  <insert id="batchInsertUpWorkerExp">
    insert into up_worker_exp (worker_id, certificate_kind, certificate_type,
    certificate_grade, certificate_number, certificate_name,
    certificate_start_date, certificate_end_date,
    certificate_issuing, certificate_status) values
    <foreach collection="list" item="exp" separator="," open="(" close=")">
      #{exp.workerId},
      #{exp.certificateKind},
      #{exp.certificateType},
      #{exp.certificateGrade},
      #{exp.certificateNumber},
      #{exp.certificateName},
      #{exp.certificateStartDate},
      #{exp.certificateEndDate},
      #{exp.certificateIssuing},
      #{exp.certificateStatus}
    </foreach>
  </insert>
</mapper>