<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quanroon.atten.reports.dao.UpWorkerInMapper" >
  <resultMap id="BaseResultMap" type="com.quanroon.atten.reports.entity.UpWorkerIn" >
    <!-- 主键id -->
    <result column="id" property="id" jdbcType="INTEGER" />

    <!-- 项目id -->
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    
    <!-- 劳工id -->
    <result column="worker_id" property="workerId" jdbcType="INTEGER" />
    
    <!-- 班组id -->
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    
    <!-- 进场日期 -->
    <result column="entry_date" property="entryDate" jdbcType="TIMESTAMP" />
    
    <!-- 离场日期 -->
    <result column="leave_date" property="leaveDate" jdbcType="TIMESTAMP" />
    
    <!-- 紧急联系人 -->
    <result column="egy_contact" property="egyContact" jdbcType="VARCHAR" />
    
    <!-- 紧急联系人电话 -->
    <result column="egy_contact_phone" property="egyContactPhone" jdbcType="CHAR" />
    
    <!-- 是否为班组长 -->
    <result column="is_foreman" property="isForeman" jdbcType="CHAR" />
    
    <!-- 合同编号 -->
    <result column="contract_number" property="contractNumber" jdbcType="VARCHAR" />
    
    <!-- 合同签订日期 -->
    <result column="contract_sign_date" property="contractSignDate" jdbcType="TIMESTAMP" />
    
    <!-- 合同开始时间 -->
    <result column="contract_start_date" property="contractStartDate" jdbcType="TIMESTAMP" />
    
    <!-- 合同结束时间 -->
    <result column="contract_end_date" property="contractEndDate" jdbcType="TIMESTAMP" />
    
    <!-- 合同期限类型 -->
    <result column="contract_limit_type" property="contractLimitType" jdbcType="CHAR" />
    
    <!-- 计薪方式 -->
    <result column="salary_way" property="salaryWay" jdbcType="CHAR" />
    
    <!-- 每月发薪日 -->
    <result column="pay_day" property="payDay" jdbcType="INTEGER" />
    
    <!-- 薪资 -->
    <result column="salary_money" property="salaryMoney" jdbcType="DECIMAL" />
    
    <!-- 工资卡开户银行 -->
    <result column="salary_bank" property="salaryBank" jdbcType="VARCHAR" />
    
    <!-- 工资卡账号 -->
    <result column="salary_bank_no" property="salaryBankNo" jdbcType="VARCHAR" />
    
    <!-- 工资卡所属银行支行名称 -->
    <result column="salary_bank_branch" property="salaryBankBranch" jdbcType="VARCHAR" />
    
    <!-- 人员类型 -->
    <result column="member_type" property="memberType" jdbcType="CHAR" />
    
    <!-- 人员角色 -->
    <result column="member_role" property="memberRole" jdbcType="CHAR" />
    
    <!-- 工种 -->
    <result column="work_type" property="workType" jdbcType="CHAR" />
    
    <!-- 是否参加城乡居民医疗保险 -->
    <result column="is_medical_insurance" property="isMedicalInsurance" jdbcType="CHAR" />
    
    <!-- 是否参加城乡居民养老保险 -->
    <result column="is_endowment_insurance" property="isEndowmentInsurance" jdbcType="CHAR" />
    
    <!-- 是否购买工伤保险 -->
    <result column="is_employ_insurance" property="isEmployInsurance" jdbcType="CHAR" />
    
    <!-- 是否购买意外伤害保险 -->
    <result column="is_accident_insurance" property="isAccidentInsurance" jdbcType="CHAR" />
    
    <!-- 上报住建局后返回的唯一编码 -->
    <result column="report_code" property="reportCode" jdbcType="VARCHAR" />

    <!--状态 0：进场  1：离场-->
    <result column="status" property="status" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    id, proj_id, worker_id, group_id, entry_date, leave_date, egy_contact, egy_contact_phone,
    is_foreman, contract_number, contract_sign_date, contract_start_date, contract_end_date, 
    contract_limit_type, salary_way, pay_day, salary_money, salary_bank, salary_bank_no, 
    salary_bank_branch, member_type, member_role, work_type, is_medical_insurance, is_endowment_insurance, 
    is_employ_insurance, is_accident_insurance, report_code,status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerInExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from up_worker_in
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerInExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    delete from up_worker_in
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    insert into up_worker_in (proj_id, worker_id, group_id, entry_date, leave_date,
      egy_contact, egy_contact_phone, is_foreman, 
      contract_number, contract_sign_date, contract_start_date, 
      contract_end_date, contract_limit_type, salary_way, 
      pay_day, salary_money, salary_bank, 
      salary_bank_no, salary_bank_branch, member_type, 
      member_role, work_type, is_medical_insurance, 
      is_endowment_insurance, is_employ_insurance, is_accident_insurance, 
      report_code,status)
    values (#{projId,jdbcType=INTEGER}, #{workerId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, 
      #{entryDate,jdbcType=TIMESTAMP}, #{leaveDate,jdbcType=TIMESTAMP},
      #{egyContact,jdbcType=VARCHAR}, #{egyContactPhone,jdbcType=CHAR}, #{isForeman,jdbcType=CHAR}, 
      #{contractNumber,jdbcType=VARCHAR}, #{contractSignDate,jdbcType=TIMESTAMP}, #{contractStartDate,jdbcType=TIMESTAMP}, 
      #{contractEndDate,jdbcType=TIMESTAMP}, #{contractLimitType,jdbcType=CHAR}, #{salaryWay,jdbcType=CHAR}, 
      #{payDay,jdbcType=INTEGER}, #{salaryMoney,jdbcType=DECIMAL}, #{salaryBank,jdbcType=VARCHAR}, 
      #{salaryBankNo,jdbcType=VARCHAR}, #{salaryBankBranch,jdbcType=VARCHAR}, #{memberType,jdbcType=CHAR}, 
      #{memberRole,jdbcType=CHAR}, #{workType,jdbcType=CHAR}, #{isMedicalInsurance,jdbcType=CHAR}, 
      #{isEndowmentInsurance,jdbcType=CHAR}, #{isEmployInsurance,jdbcType=CHAR}, #{isAccidentInsurance,jdbcType=CHAR}, 
      #{reportCode,jdbcType=VARCHAR},#{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    insert into up_worker_in
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        proj_id,
      </if>
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="entryDate != null" >
        entry_date,
      </if>
      <if test="leaveDate != null" >
        leave_date,
      </if>
      <if test="egyContact != null" >
        egy_contact,
      </if>
      <if test="egyContactPhone != null" >
        egy_contact_phone,
      </if>
      <if test="isForeman != null" >
        is_foreman,
      </if>
      <if test="contractNumber != null" >
        contract_number,
      </if>
      <if test="contractSignDate != null" >
        contract_sign_date,
      </if>
      <if test="contractStartDate != null" >
        contract_start_date,
      </if>
      <if test="contractEndDate != null" >
        contract_end_date,
      </if>
      <if test="contractLimitType != null" >
        contract_limit_type,
      </if>
      <if test="salaryWay != null" >
        salary_way,
      </if>
      <if test="payDay != null" >
        pay_day,
      </if>
      <if test="salaryMoney != null" >
        salary_money,
      </if>
      <if test="salaryBank != null" >
        salary_bank,
      </if>
      <if test="salaryBankNo != null" >
        salary_bank_no,
      </if>
      <if test="salaryBankBranch != null" >
        salary_bank_branch,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="memberRole != null" >
        member_role,
      </if>
      <if test="workType != null" >
        work_type,
      </if>
      <if test="isMedicalInsurance != null" >
        is_medical_insurance,
      </if>
      <if test="isEndowmentInsurance != null" >
        is_endowment_insurance,
      </if>
      <if test="isEmployInsurance != null" >
        is_employ_insurance,
      </if>
      <if test="isAccidentInsurance != null" >
        is_accident_insurance,
      </if>
      <if test="reportCode != null" >
        report_code,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="entryDate != null" >
        #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveDate != null" >
        #{leaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="egyContact != null" >
        #{egyContact,jdbcType=VARCHAR},
      </if>
      <if test="egyContactPhone != null" >
        #{egyContactPhone,jdbcType=CHAR},
      </if>
      <if test="isForeman != null" >
        #{isForeman,jdbcType=CHAR},
      </if>
      <if test="contractNumber != null" >
        #{contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="contractSignDate != null" >
        #{contractSignDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractStartDate != null" >
        #{contractStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractEndDate != null" >
        #{contractEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractLimitType != null" >
        #{contractLimitType,jdbcType=CHAR},
      </if>
      <if test="salaryWay != null" >
        #{salaryWay,jdbcType=CHAR},
      </if>
      <if test="payDay != null" >
        #{payDay,jdbcType=INTEGER},
      </if>
      <if test="salaryMoney != null" >
        #{salaryMoney,jdbcType=DECIMAL},
      </if>
      <if test="salaryBank != null" >
        #{salaryBank,jdbcType=VARCHAR},
      </if>
      <if test="salaryBankNo != null" >
        #{salaryBankNo,jdbcType=VARCHAR},
      </if>
      <if test="salaryBankBranch != null" >
        #{salaryBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=CHAR},
      </if>
      <if test="memberRole != null" >
        #{memberRole,jdbcType=CHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=CHAR},
      </if>
      <if test="isMedicalInsurance != null" >
        #{isMedicalInsurance,jdbcType=CHAR},
      </if>
      <if test="isEndowmentInsurance != null" >
        #{isEndowmentInsurance,jdbcType=CHAR},
      </if>
      <if test="isEmployInsurance != null" >
        #{isEmployInsurance,jdbcType=CHAR},
      </if>
      <if test="isAccidentInsurance != null" >
        #{isAccidentInsurance,jdbcType=CHAR},
      </if>
      <if test="reportCode != null" >
        #{reportCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerInExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    select count(*) from up_worker_in
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" useGeneratedKeys="true" keyProperty="id" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    update up_worker_in
    <set >
      <if test="record.projId != null" >
        proj_id = #{record.projId,jdbcType=INTEGER},
      </if>
      <if test="record.workerId != null" >
        worker_id = #{record.workerId,jdbcType=INTEGER},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.entryDate != null" >
        entry_date = #{record.entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.leaveDate != null" >
        leave_date = #{record.leaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.egyContact != null" >
        egy_contact = #{record.egyContact,jdbcType=VARCHAR},
      </if>
      <if test="record.egyContactPhone != null" >
        egy_contact_phone = #{record.egyContactPhone,jdbcType=CHAR},
      </if>
      <if test="record.isForeman != null" >
        is_foreman = #{record.isForeman,jdbcType=CHAR},
      </if>
      <if test="record.contractNumber != null" >
        contract_number = #{record.contractNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.contractSignDate != null" >
        contract_sign_date = #{record.contractSignDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractStartDate != null" >
        contract_start_date = #{record.contractStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractEndDate != null" >
        contract_end_date = #{record.contractEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractLimitType != null" >
        contract_limit_type = #{record.contractLimitType,jdbcType=CHAR},
      </if>
      <if test="record.salaryWay != null" >
        salary_way = #{record.salaryWay,jdbcType=CHAR},
      </if>
      <if test="record.payDay != null" >
        pay_day = #{record.payDay,jdbcType=INTEGER},
      </if>
      <if test="record.salaryMoney != null" >
        salary_money = #{record.salaryMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.salaryBank != null" >
        salary_bank = #{record.salaryBank,jdbcType=VARCHAR},
      </if>
      <if test="record.salaryBankNo != null" >
        salary_bank_no = #{record.salaryBankNo,jdbcType=VARCHAR},
      </if>
      <if test="record.salaryBankBranch != null" >
        salary_bank_branch = #{record.salaryBankBranch,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null" >
        member_type = #{record.memberType,jdbcType=CHAR},
      </if>
      <if test="record.memberRole != null" >
        member_role = #{record.memberRole,jdbcType=CHAR},
      </if>
      <if test="record.workType != null" >
        work_type = #{record.workType,jdbcType=CHAR},
      </if>
      <if test="record.isMedicalInsurance != null" >
        is_medical_insurance = #{record.isMedicalInsurance,jdbcType=CHAR},
      </if>
      <if test="record.isEndowmentInsurance != null" >
        is_endowment_insurance = #{record.isEndowmentInsurance,jdbcType=CHAR},
      </if>
      <if test="record.isEmployInsurance != null" >
        is_employ_insurance = #{record.isEmployInsurance,jdbcType=CHAR},
      </if>
      <if test="record.isAccidentInsurance != null" >
        is_accident_insurance = #{record.isAccidentInsurance,jdbcType=CHAR},
      </if>
      <if test="record.reportCode != null" >
        report_code = #{record.reportCode,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    update up_worker_in
    set proj_id = #{record.projId,jdbcType=INTEGER},
      worker_id = #{record.workerId,jdbcType=INTEGER},
      group_id = #{record.groupId,jdbcType=INTEGER},
      entry_date = #{record.entryDate,jdbcType=TIMESTAMP},
      leave_date = #{record.leaveDate,jdbcType=TIMESTAMP},
      egy_contact = #{record.egyContact,jdbcType=VARCHAR},
      egy_contact_phone = #{record.egyContactPhone,jdbcType=CHAR},
      is_foreman = #{record.isForeman,jdbcType=CHAR},
      contract_number = #{record.contractNumber,jdbcType=VARCHAR},
      contract_sign_date = #{record.contractSignDate,jdbcType=TIMESTAMP},
      contract_start_date = #{record.contractStartDate,jdbcType=TIMESTAMP},
      contract_end_date = #{record.contractEndDate,jdbcType=TIMESTAMP},
      contract_limit_type = #{record.contractLimitType,jdbcType=CHAR},
      salary_way = #{record.salaryWay,jdbcType=CHAR},
      pay_day = #{record.payDay,jdbcType=INTEGER},
      salary_money = #{record.salaryMoney,jdbcType=DECIMAL},
      salary_bank = #{record.salaryBank,jdbcType=VARCHAR},
      salary_bank_no = #{record.salaryBankNo,jdbcType=VARCHAR},
      salary_bank_branch = #{record.salaryBankBranch,jdbcType=VARCHAR},
      member_type = #{record.memberType,jdbcType=CHAR},
      member_role = #{record.memberRole,jdbcType=CHAR},
      work_type = #{record.workType,jdbcType=CHAR},
      is_medical_insurance = #{record.isMedicalInsurance,jdbcType=CHAR},
      is_endowment_insurance = #{record.isEndowmentInsurance,jdbcType=CHAR},
      is_employ_insurance = #{record.isEmployInsurance,jdbcType=CHAR},
      is_accident_insurance = #{record.isAccidentInsurance,jdbcType=CHAR},
      report_code = #{record.reportCode,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.quanroon.atten.reports.entity.example.UpWorkerInExample" id="selectByExampleWithRowbounds" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 29 15:20:16 CST 2020.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from up_worker_in
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-06-29 15:20:16 ### -->



  <!-- Your codes goes here!!! -->
  <select id="selectByWorkerId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from up_worker_in
    where worker_id = #{workerId}
  </select>

  <update id="updateResponseCodeByWorkerId" >
    update
    up_worker_in
    set report_code = #{reportCode}
    where worker_id = #{workerId}
  </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select
      <include refid="Base_Column_List" />
      from up_worker_in
      where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>